.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: large;
  font-weight: bold;
}

.nav li a {
  padding: 15px;
  border-radius: 10px;
  background-color: #3e5351;
  color: white;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav li a:hover {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav li a:active {
  background-color: #8e9191;
}

.nav li {
  padding: 15px;
}
